<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.2">">

	<!-- Oncology Point of Care Properties -->
	<id>oncologypoc</id>
	<name>Oncology Point of Care</name>
	<version>1.0.0</version>
	<package>org.openmrs.module.oncologypoc</package>
	<author>MindFlow</author>
	<description>
		Added functionalities for the Oncology Program
	</description>

	<activator>org.openmrs.module.oncologypoc.OncologyPOCActivator</activator>

<!-- 	<updateURL>https://dev.openmrs.org/modules/download/oncologypoc/update.rdf</updateURL> -->

	<require_version>1.8.0</require_version>
	

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.oncologypoc.extension.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.module.oncologypoc.patientSchedules</point>
		<class>org.openmrs.module.oncologypoc.extension.html.ScheduledPatientsExt</class>
	</extension>
	
	<extension>
		<point>org.openmrs.clinicianAlertsPortlet</point>
		<class>org.openmrs.module.oncologypoc.extension.html.ClinicianAlertsExt</class>
	</extension>
	
	<!--  AOP advice points -->
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>org.openmrs.module.oncologypoc.api.advice.EncounterAdvice</class>
	</advice>
	
	<!-- Require Global Properties -->
	<globalProperty>
		<property>oncologypoc.interceptRoles</property>
		<defaultValue>ONCOLOGY CLINICIAN, ONCOLOGY NURSE</defaultValue>
		<description>
			Comma separated roles to be intercepted by this module
		</description>
	</globalProperty>
	<globalProperty>
		<property>oncologypoc.encounterType</property>
		<defaultValue>ONCOLOGYINITIAL, ONCOLOGYRETURN</defaultValue>
		<description>
			Comma separated encounter types to filter forms by encounter type
		</description>
	</globalProperty>
	
	<!-- Require Privileges -->
	View Oncology POC
	<privilege>
		<name>OncologyPoc View Clinician Alerts</name>
		<description>
			Checks whether a provider has permission to view Oncology Alerts
		</description>
	</privilege>
	<privilege>
		<name>OncologyPoc View Patient Schedules</name>
		<description>
			Views oncology scheduled patients
		</description>
	</privilege>

	<filter>
		<filter-name>OncologyPOCFilter</filter-name>
		<filter-class>org.openmrs.module.oncologypoc.web.filter.OncologyPOCFilter</filter-class>
		<init-param>
			<param-name>oncologyHomePage</param-name>
			<param-value>/module/oncologypoc/patientView.form</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>OncologyPOCFilter</filter-name>
		<url-pattern>/patientDashboard.form</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OncologyPOCFilter</filter-name>
		<url-pattern>/findPatient.htm</url-pattern>
	</filter-mapping>
	
	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	
	<mappingFiles>
		SubEncounter.hbm.xml
	</mappingFiles>
</module>
